/*

*= require_tree
*= require_self
*= require foundation_and_overrides

*/
@import "settings";
@import 'mixins';

#bottom-bar {
  background-color: $light-gray;
  height: 80px;
  margin-bottom: 0;
}

.top-bar-left {
  padding-top: 15px;
}

.row {
  margin-bottom: 1em;
  margin-top: 1em;
}

.flash-headers, .alert-warning {
  background-color: $custom-color1;
  color: $white;
}

.flash-headers, .alert-success, .alert-notice {
  background-color: $custom-color4;
  color: $white;
}

.menu-text {
  text-align: center;
}

.callout {
  display: table;
  margin: 0 auto;
}

.button {
  @include rounded();
}

.politician-info {
  @include rounded();
  @include box-shadow(1px, 1px, 1px, $light-gray);
  background-color: $custom-color5;
  padding: 10px;
}

.comments {
  @include rounded();
  background-color: $custom-color4;
  padding-top: 10px;
  padding-bottom: 10px;
}
