/*

 *= require_tree
 *= require_self
 *= require foundation_and_overrides

 */
@import 'settings';
//
// body {
//   background-color: #ffefc1;
// }
//
// .form-actions .form-inputs {
//   background-color: $custom-color2;
// }
//
// .top-bar {
//   background-color: $custom-color1;
// }
//
// * {
//   a:link { color: $custom-color4; text-decoration: none; }
//   a:active { color: #000040; text-decoration: none; }
//   a:visited { color: $custom-color3; text-decoration: none; }
//   a:hover { color: $custom-color2; text-decoration: none; }
// }

.row {
  margin-bottom: 1em;
  margin-top: 1em;
}

.flash-headers .alert-warning #bottom-bar {
  background-color: $custom-color1;
  color: $white;
}

.flash-headers .alert-success .alert-notice #bottom-bar {
  background-color: $custom-color4;
  color: $white;
}

#bottom-bar {
  height: 80px;
  background-color: $light-gray;
  margin-bottom: 0px;
}

.menu-text {
  text-align: center;
}
