/*

 *= require_tree
 *= require_self
 *= require foundation_and_overrides

 */
@import "settings";

.row {
  margin-bottom: 1em;
  margin-top: 1em;
}

.flash-headers, .alert-warning {
  background-color: $custom-color1;
  color: $white;
}

.flash-headers, .alert-success, .alert-notice {
  background-color: $custom-color4;
  color: $white;
}

#bottom-bar {
  height: 80px;
  background-color: $light-gray;
  margin-bottom: 0;
}

.menu-text {
  text-align: center;
}

.form-inputs, .sign-ups, .sign-extras {
  padding-left: 200px;
}
