<h1>Politicians Index</h1>

<% if @no_results %>
  <h5>No Results Found</h5>
<% else %>
  <table border='1' class='small-6' id='politicians'>
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Party</th>
        <th>Avg. User Rating (out of 5)</th>
      </tr>
    </thead>

    <tbody class='page'>
      <%= render @politicians %>
    </tbody>
  </table>

  <%= paginate @politicians %>
<% end %>
